
/* 인사관리 */
.content_srch { grid-row: 1; position: relative; height:60px;}
.content_table {grid-row: 2; min-height:200px;}
.content_footer { grid-row: 3; position: relative; height:100px;}
.content_pageN {display: inline-block; ;width:40px;
text-align: center;}
.workerlist
   { display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);}

/* 직원등록 popup*/
.worker_info_list {
  margin-top: 50px;
  width:100%; height:100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(11,auto);
  grid-row-gap:2%;
  box-sizing: border-box;
  padding-bottom: 200px;
  position: relative;
}
.worker_info_list input {width:80%; height:40px; float: right; text-indent:10px;}
.worker_info_list select {width:80%; height:40px;float: right;}
.worker_info_list textarea {width:80%; height:100%;float: right; text-indent:10px;}
.worker_info_list label { line-height: 40px;}
.worker_info_list .id {grid-row: 1;}
.worker_info_list .passwd {grid-row: 2;}
.worker_info_list .passwd_repeat { grid-row: 3;}
.worker_info_list .name {grid-row: 4;}
.worker_info_list .phone {grid-row: 5;}
.worker_info_list .Email {grid-row: 6;}
.worker_info_list .birthday {grid-row: 7;}
.worker_info_list .join_date {grid-row: 8;}
.worker_info_list .address {grid-row: 9;}
.worker_info_list .rank {grid-row: 10;}
.worker_info_list .extraInfo {grid-row: 11; height:100px;}
.worker_info .Cancel {position: absolute; left:calc(50% - 90px);bottom:2%;}
.worker_info .input_submit {position: absolute; left:calc(50% + 10px);bottom:2%;}
